.title{
  font-size: min(4.1rem, 7vw - 1rem);
  font-weight: bold;
  text-align: left;
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
  }
}

.subtitle{
  font-size: 1.5rem;
  text-align: left;
}


.body-component {
  display: flex;
  justify-content: space-evenly;
  background-color: #291A3E;
  color: #fff;
  height: 100vh;
  align-items: center;
  padding-left: 2rem;
  width: 100%;
}

@media (max-width: 768px) {
  .body-component {
    flex-direction: column-reverse;
    padding-top: 50px;
    padding-left: 0;
  }
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 34rem;
}

@media (max-width: 768px) {
  .left-section {
    max-width: 20rem;
  }
}

.right-section {
  background-size: cover;
  background-position: center;
  justify-items: center;
  align-items: center;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: left;
  padding-top: 15px;
}

@media (max-width: 768px) {
  .button-group {
    flex-direction: column;
    padding-bottom: 3rem;
  }
}

.custom-image {
  width: 100%;
  aspect-ratio: 600 / 525;
}

@media (max-width: 768px) {
  .custom-image {
    height: 45vh;
    padding-top: 1rem;
  }
}
