.transparent-button {
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #291A3E;
    color: #ffffff;
  }
  
  .transparent-button:hover {
    background-color: #35254A;
    border-color: #ffffff;
    color: #ffffff;
  }
  
  .transparent-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(41, 26, 62, 0.5);
  }
  
  .transparent-button:active {
    background-color: #35254A;
  }
  
  .transparent-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .transparent-button:focus:not(:focus-visible) {
    box-shadow: none;
  }
  
  .solid-button {
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #ffffff;
    color: #291A3E;
  }
  
  .solid-button:hover {
    background-color: #dad7d7;
    border-color: #dad7d7;
    color: #291A3E;
  }
  
  .solid-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(41, 26, 62, 0.5);
  }
  
  .solid-button:active {
    background-color: #35254A;
    color: #ffffff;
  }
  
  .solid-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .solid-button:focus:not(:focus-visible) {
    box-shadow: none;
  }
  .solid-card-button {
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #291A3E;
    color: #ffffff;
  }
  
  .solid-card-button:hover {
    background-color: #35254A;
    border-color: #35254A;
    color: #ffffff;
  }
  
  .solid-card-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(41, 26, 62, 0.5);
  }
  
  .solid-card-button:active {
    background-color: #35254A;
  }
  
  .solid-card-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .solid-card-button:focus:not(:focus-visible) {
    box-shadow: none;
  }
  