.DialogOverlay {
  background-color: rgba(41, 26, 62, 0.6); /* changed color to match #291A3E */
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: #ffffff; /* changed color to match #35254A */
  border-radius: 6px;
  box-shadow: hsl(260 22% 20% / 35%) 0px 10px 38px -10px, hsl(260 22% 20% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

@media screen and (max-width: 768px) { /* usually mobile devices are smaller than 768px */
  .DialogContent {
    width: 90vw; /* making the width 90% of the viewport */
  }
}

.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-weight: 500;
  color: #291A3E; /* changed color to match #291A3E */
  font-size: 1.5rem;
}

.DialogDescription {
  margin: 10px 0 20px;
  color: #291A3E; /* changed color to match #291A3E */
  font-size: 1rem;
  line-height: 1.5;
}

.IconButton {
  font-family: inherit;
  border-radius: 0.4rem;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #35254A; /* changed color to match #35254A */
  position: absolute;
  top: 10px;
  right: 10px;
}
.IconButton:hover {
  background-color: #291A3E; /* changed color to match #291A3E */
  color: #ffffff;
}
.IconButton:focus {
  box-shadow: 0 0 0 2px #35254A; /* changed color to match #35254A */
}

.Fieldset {
  display: flex;
  flex-direction: column; /* Changes layout to vertical */
  align-items: flex-start; /* Align items to start for better presentation */
  margin-bottom: 15px;
}

.Label {
  font-size: 15px;
  color: #35254A;
  text-align: right;
}

.Input {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0.6rem;
  font-size: 0.8rem;
  line-height: 1;
  color: #35254A;
  box-shadow: 0 0 0 1px #291A3E;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
