.welcome-div{
    color: #ffffff;
}

.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 222px;
  }
  
.google-logo {
  width: 36px;
  height: 36px;
}