.products-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
    gap: 1rem;
}

@media (min-width: 600px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
    }
}

@media (min-width: 900px) {
    .products-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 3rem;
    }
}
